
.header {
    background-color: rgb(113, 202, 24);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  .header h1 {
    color:  rgb(58, 57, 57);
  }
  .header nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
  .header nav ul li a {
    text-decoration: none;
    color: black;
  }
  .header button {
    all: unset;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: none;
  }
  .header button img {
    width: 100%;
  }
  .overlay {
    display: none;
  }
  .overlay nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  @media (max-width:768px) {

    .header {
      position: sticky;
    }
  .header nav {
    display: none;
  }
  .header button {
    display: inline-block;
  }
  .overlay {
    display: inline-block;
    background-color:  rgb(113, 202, 24);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    transform: translateX(100%);
    transition: 0.4s;
  }
  .overlay nav ul {
    list-style: none;
  }
    .overlay nav ul li a {
    text-decoration: none;
    color: black;
    }
  
  .showOverlay {
    transform: translateX(0);
  }
  }
    
  