

/* .header {
  background-color: green;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  

}
.logo {
  color: red;
}
.navBar ul {
  display: flex;
  flex-direction: row;
  gap: 2rem; 
  color: white;
}

.navBar a {
  color: white;
  text-decoration: none;
}
.main {
  background-color: rgb(218, 215, 215);
  height: 600px;
  
}
.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}
.card {
  background-color: rgb(113, 202, 24);
  height: 400px;
  width: 300px;
}
.footer {
  background-color: rgb(58, 57, 57);
  height: 150px;
} */